<button class="btn btn-danger" data-bind="click: togglePower, enable: powerButtonEnabled, css: {'btn-danger': !powerButtonState(), 'btn-success': powerButtonState, disabled: !powerButtonEnabled()}"><i class="icon-bolt"></i> {{ _('12V') }}</button>
