<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('API') }}</label>
        <div class="controls">
            <select data-bind="options: apiList, optionsCaption: settings.settings.plugins.automaticonoff.api == '' ? 'Select API...' : settings.settings.plugins.automaticonoff.api, optionsText: 'name', optionsValue: 'identifier', value: settings.settings.plugins.automaticonoff.api"></select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.reconnect_after_error"> {{ _('Reconnect to the printer after Error state and repowering') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.on.startup"> {{ _('Automatically power on on start up of OctoPrint') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.off.shutdown"> {{ _('Automatically power off on shut down of OctoPrint') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.on.clients"> {{ _('Automatically power on when a client connects') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.off.idle"> {{ _('Automatically power off x minute/s after idle state') }}
            </label>
            <!-- ko if: settings.settings.plugins.automaticonoff.power.off.idle -->
            <label class="checkbox">
                x = <input type="number" class="input-mini text-right" step="any" min="0" data-bind="value: settings.settings.plugins.automaticonoff.idle.countdown">
                <span class="add-on">m</span>
            </label>
            <!-- /ko -->
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.off.noclients"> {{ _('Automatically power off x minute/s after the last client disconnects when not printing') }}
            </label>
            <!-- ko if: settings.settings.plugins.automaticonoff.power.off.noclients -->
            <label class="checkbox">
                x = <input type="number" class="input-mini text-right" step="any" min="0" data-bind="value: settings.settings.plugins.automaticonoff.noclients_countdown">
                <span class="add-on">m</span>
            </label>
            <!-- /ko -->
        </div>
    </div>
    <!-- ko if: settings.settings.plugins.automaticonoff.power.off.noclients() || settings.settings.plugins.automaticonoff.power.off.idle() -->
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.off.temperature"> {{ _('Only power off if hotend temperature is below') }}
                <input type="number" class="input-mini text-right" step="any" min="0" data-bind="value: settings.settings.plugins.automaticonoff.temperature">
                <span class="add-on">°C</span>
            </label>
        </div>
    </div>
    <!-- /ko -->
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.on.connect"> {{ _('Power on before connecting to printer') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.automaticonoff.power.off.disconnect"> {{ _('Power off after disconnecting from printer') }}
            </label>
        </div>
    </div>
    <div class="control-group">
    </div>
</form>
